<input
  type="text"
  class="rr-input"
  value={{@value}}
  data-test-rr="search-box"
  {{on "input" (perform @onChange value="target.value")}}
>
<button
  type="button"
  class="rr-search-button"
  {{on "click" (perform @onChange @value)}}
>
  {{fa-icon "search"}}
</button>